{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Dashboard | login </title>

	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<div class="container mt-5">
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
		<div class="card">
			<div class="card-head bg-success text-light" style="text-align: center;">
				<p style="margin-top: 5px;">Admin panel</p>
			</div>
			<div class="card-body">
				{% if messages %}
					{% for message in messages %}
						<p class="alert alert-danger">{{ message }}
					{% endfor %}
				{% endif %}
				<form method="post">
					{% csrf_token %}
					<!-- username -->
					<label for="username"> Username* </label>
					<input class="form-control bd-warning" type="text" name="username" id="username"><br>
					<!-- password -->
					<label for="password"> Password* </label>
					<input class="form-control" type="password" name="password" id="password"><br>

					<button style="text-align: center;" class="btn btn-success" type="submit"> Login </button>
				</form>
			</div>
		</div>
		</div>
	</div>
</div>

</body>
</html>

